# Scraping Sustainalytics ESG Ratings from Yahoo Finance

## Set up

In [1]:
import pandas as pd
import os
from datetime import datetime as dt
from urllib import request
import json

In [5]:
portfolio = pd.read_csv("tickers.csv")
tickers = portfolio[portfolio.type == "Equity"].ticker.tolist()
tickers.append("ANTM")
tickers.append("PEP")
tickers

['TGT', 'PEP', 'NOVN', 'AMT', 'SVT', 'UNH', 'VZ', 'ELV', 'ANTM', 'PEP']

## Scrape a ticker's data

### Reference code

In [11]:
url = "https://query2.finance.yahoo.com/v1/finance/esgChart?symbol=TGT"
connection = request.urlopen(url)

data = connection.read()
data_2 = json.loads(data)
Formatdata = data_2["esgChart"]["result"][0]["symbolSeries"]
Formatdata_2 = pd.DataFrame(Formatdata)
Formatdata_2["timestamp"] = pd.to_datetime(Formatdata_2["timestamp"], unit="s")

In [9]:
pd.set_option('display.max_rows', 50)
Formatdata_2

    timestamp  esgScore  governanceScore  environmentScore  socialScore
0  2014-09-01     66.00            74.00             60.00        66.00
1  2014-10-01     66.00            74.00             60.00        66.00
2  2014-11-01     66.00            74.00             60.00        66.00
3  2014-12-01     66.00            74.00             60.00        66.00
4  2015-01-01     66.00            74.00             60.00        66.00
..        ...       ...              ...               ...          ...
91 2022-04-01       NaN              NaN               NaN          NaN
92 2022-05-01     14.79             5.06              2.17         7.56
93 2022-06-01       NaN              NaN               NaN          NaN
94 2022-07-01       NaN              NaN               NaN          NaN
95 2022-08-01     14.72             5.06              2.04         7.63

[96 rows x 5 columns]

### Test out reference code

In [32]:
# get a list of urls to scrape
ticker = "ANTM"

base_url = "https://query2.finance.yahoo.com/v1/finance/esgChart?symbol="
url = base_url + ticker

In [33]:
# open url and get json data
connection = request.urlopen(url)
jsondata = connection.read()

# decode json to Python objects
data = json.loads(jsondata)

In [34]:
data

{'esgChart': {'result': [{'peerGroup': 'Healthcare',
    'symbolSeries': {'timestamp': [1409529600,
      1412121600,
      1414800000,
      1417392000,
      1420070400,
      1422748800,
      1425168000,
      1427846400,
      1430438400,
      1433116800,
      1435708800,
      1438387200,
      1441065600,
      1443657600,
      1446336000,
      1448928000,
      1451606400,
      1454284800,
      1456790400,
      1459468800,
      1462060800,
      1464739200,
      1467331200,
      1470009600,
      1472688000,
      1475280000,
      1477958400,
      1480550400,
      1483228800,
      1485907200,
      1488326400,
      1491004800,
      1493596800,
      1496275200,
      1498867200,
      1501545600,
      1504224000,
      1506816000,
      1509494400,
      1512086400,
      1514764800,
      1517443200,
      1519862400,
      1522540800,
      1525132800,
      1527811200,
      1530403200,
      1533081600,
      1535760000,
      1538352000,
      1541030400,
      1543622400,
      1546300800,
      1548979200,
      1551398400,
      1554076800,
      1556668800,
      1559347200,
      1561939200,
      1564617600,
      1567296000,
      1569888000,
      1572566400,
      1575158400,
      1577836800,
      1580515200,
      1583020800,
      1585699200,
      1588291200,
      1590969600,
      1593561600,
      1596240000,
      1598918400,
      1601510400,
      1604188800,
      1606780800,
      1609459200,
      1612137600,
      1614556800,
      1617235200,
      1619827200,
      1622505600,
      1625097600,
      1627776000,
      1630454400,
      1633046400,
      1635724800,
      1638316800,
      1640995200,
      1643673600,
      1646092800,
      1648771200,
      1651363200],
     'esgScore': [67.0,
      67.0,
      67.0,
      67.0,
      69.0,
      69.0,
      69.0,
      69.0,
      69.0,
      67.0,
      67.0,
      67.0,
      67.0,
      67.0,
      67.0,
      67.0,
      67.26,
      67.26,
      67.26,
      58.92,
      58.92,
      58.42,
      57.42,
      56.62,
      56.62,
      56.62,
      56.62,
      56.62,
      55.33,
      55.33,
      55.33,
      55.33,
      56.93,
      56.93,
      56.93,
      59.72,
      59.72,
      59.4,
      59.4,
      59.4,
      59.4,
      59.4,
      59.4,
      59.4,
      59.4,
      59.4,
      59.4,
      57.97,
      57.97,
      59.3,
      60.59,
      60.59,
      61.25,
      61.25,
      61.25,
      61.25,
      61.25,
      60.51,
      60.51,
      60.46,
      61.22,
      62.2,
      62.2,
      23.83,
      23.75,
      16.7,
      16.7,
      None,
      None,
      None,
      16.7,
      16.7,
      None,
      15.94,
      None,
      None,
      12.27,
      12.27,
      12.27,
      None,
      12.27,
      None,
      None,
      None,
      11.81,
      None,
      None,
      None,
      None,
      11.59,
      None,
      None,
      11.59],
     'governanceScore': [85.0,
      85.0,
      85.0,
      85.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.0,
      81.49,
      81.49,
      81.49,
      72.33,
      72.33,
      72.33,
      72.33,
      72.33,
      72.33,
      72.33,
      72.33,
      72.33,
      69.51,
      69.51,
      69.51,
      69.51,
      69.51,
      69.51,
      69.51,
      72.29,
      72.29,
      68.28,
      68.28,
      68.28,
      68.28,
      68.28,
      68.28,
      68.28,
      68.28,
      68.28,
      68.28,
      67.28,
      67.28,
      69.27,
      71.65,
      71.65,
      73.83,
      73.83,
      73.83,
      73.83,
      73.83,
      71.2,
      71.2,
      71.2,
      71.2,
      69.21,
      69.21,
      6.71,
      6.63,
      6.42,
      6.42,
      None,
      None,
      None,
      6.42,
      6.42,
      None,
      6.13,
      None,
      None,
      5.27,
      5.27,
      5.27,
      None,
      5.27,
      None,
      None,
      None,
      5.8,
      None,
      None,
      None,
      None,
      5.8,
      None,
      None,
      5.8],
     'environmentScore': [60.0,
      60.0,
      60.0,
      60.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      68.0,
      65.0,
      65.0,
      63.0,
      59.0,
      59.0,
      59.0,
      59.0,
      59.0,
      59.0,
      59.17,
      59.17,
      59.17,
      59.17,
      65.58,
      65.58,
      65.58,
      71.65,
      71.65,
      72.12,
      72.12,
      72.12,
      72.12,
      72.12,
      72.12,
      72.12,
      72.12,
      72.12,
      72.12,
      69.2,
      69.2,
      69.2,
      71.53,
      71.53,
      71.53,
      71.53,
      71.53,
      71.53,
      71.53,
      71.53,
      71.53,
      71.53,
      71.53,
      77.83,
      77.83,
      0.05,
      0.05,
      0.05,
      0.05,
      None,
      None,
      None,
      0.05,
      0.05,
      None,
      0.05,
      None,
      None,
      0.03,
      0.03,
      0.03,
      None,
      0.03,
      None,
      None,
      None,
      0.03,
      None,
      None,
      None,
      None,
      0.03,
      None,
      None,
      0.03],
     'socialScore': [60.0,
      60.0,
      60.0,
      60.0,
      61.0,
      61.0,
      61.0,
      61.0,
      61.0,
      57.0,
      57.0,
      57.0,
      57.0,
      57.0,
      57.0,
      57.0,
      57.36,
      57.36,
      57.36,
      46.61,
      46.61,
      46.61,
      46.61,
      44.83,
      44.83,
      44.83,
      44.83,
      44.83,
      43.74,
      43.74,
      43.74,
      43.74,
      43.74,
      43.74,
      43.74,
      44.72,
      44.72,
      46.42,
      46.42,
      46.42,
      46.42,
      46.42,
      46.42,
      46.42,
      46.42,
      46.42,
      46.42,
      45.51,
      45.51,
      47.14,
      47.14,
      47.14,
      47.14,
      47.14,
      47.14,
      47.14,
      47.14,
      47.26,
      47.26,
      47.14,
      48.83,
      48.83,
      48.83,
      17.07,
      17.07,
      10.24,
      10.24,
      None,
      None,
      None,
      10.24,
      10.24,
      None,
      9.77,
      None,
      None,
      6.97,
      6.97,
      6.97,
      None,
      6.97,
      None,
      None,
      None,
      5.98,
      None,
      None,
      None,
      None,
      5.76,
      None,
      None,
      5.76]},
    'peerSeries': {'timestamp': [1409529600,
      1412121600,
      1414800000,
      1417392000,
      1420070400,
      1422748800,
      1425168000,
      1427846400,
      1430438400,
      1433116800,
      1435708800,
      1438387200,
      1441065600,
      1443657600,
      1446336000,
      1448928000,
      1451606400,
      1454284800,
      1456790400,
      1459468800,
      1462060800,
      1464739200,
      1467331200,
      1470009600,
      1472688000,
      1475280000,
      1477958400,
      1480550400,
      1483228800,
      1485907200,
      1488326400,
      1491004800,
      1493596800,
      1496275200,
      1498867200,
      1501545600,
      1504224000,
      1506816000,
      1509494400,
      1512086400,
      1514764800,
      1517443200,
      1519862400,
      1522540800,
      1525132800,
      1527811200,
      1530403200,
      1533081600,
      1535760000,
      1538352000,
      1541030400,
      1543622400,
      1546300800,
      1548979200,
      1551398400,
      1554076800,
      1556668800,
      1559347200,
      1561939200,
      1564617600,
      1567296000,
      1569888000,
      1572566400,
      1575158400,
      1577836800,
      1580515200,
      1583020800,
      1585699200,
      1588291200,
      1590969600,
      1593561600,
      1596240000,
      1598918400,
      1601510400,
      1604188800,
      1606780800,
      1609459200,
      1612137600,
      1614556800,
      1617235200,
      1619827200,
      1622505600,
      1625097600,
      1627776000,
      1630454400,
      1633046400,
      1635724800,
      1638316800,
      1640995200,
      1643673600,
      1646092800,
      1648771200,
      1651363200],
     'esgScore': [58.267857142857146,
      58.375,
      58.357142857142854,
      58.32142857142857,
      58.875,
      58.875,
      58.714285714285715,
      58.80357142857143,
      58.482142857142854,
      58.410714285714285,
      58.375,
      58.32142857142857,
      58.339285714285715,
      58.6140350877193,
      58.75438596491228,
      58.706896551724135,
      58.78689655172414,
      58.879482758620696,
      59.02172413793104,
      57.637586206896536,
      57.59948275862068,
      57.48396551724137,
      57.416206896551714,
      57.383965517241364,
      57.2786440677966,
      57.49706896551722,
      57.48,
      57.409661016949144,
      57.51508474576271,
      57.48203389830508,
      57.55220338983052,
      57.450677966101686,
      57.84406779661018,
      57.78694915254238,
      57.845593220339,
      58.146610169491524,
      58.25118644067797,
      57.66610169491524,
      57.63491525423728,
      57.85983333333333,
      57.8260655737705,
      57.886557377049186,
      57.83377049180328,
      57.68693548387096,
      58.13306451612904,
      58.26596774193549,
      58.017761194029845,
      58.29854838709678,
      58.41387096774195,
      58.52870967741936,
      58.61451612903228,
      58.58693548387098,
      58.588064516129045,
      58.72475409836067,
      58.68016393442623,
      58.594500000000004,
      58.61633333333334,
      59.09399999999998,
      59.02016666666666,
      59.12627118644068,
      58.98683333333334,
      58.672,
      59.06166666666669,
      53.022666666666666,
      25.318499999999993,
      25.065999999999992,
      25.065666666666672,
      None,
      None,
      None,
      24.156065573770494,
      23.91836065573771,
      23.847377049180327,
      23.82245901639345,
      None,
      None,
      23.510655737704916,
      23.277540983606556,
      23.226885245901634,
      None,
      22.905666666666665,
      None,
      None,
      None,
      22.496727272727277,
      None,
      None,
      None,
      None,
      22.345689655172425,
      None,
      None,
      22.186379310344833],
     'governanceScore': [61.82142857142857,
      61.875,
      61.839285714285715,
      61.839285714285715,
      61.80357142857143,
      61.767857142857146,
      61.785714285714285,
      62.035714285714285,
      61.767857142857146,
      61.839285714285715,
      61.767857142857146,
      61.464285714285715,
      61.464285714285715,
      61.36842105263158,
      61.54385964912281,
      61.793103448275865,
      61.80551724137929,
      61.79948275862067,
      61.77499999999999,
      61.28275862068966,
      61.228448275862085,
      61.08603448275865,
      60.9941379310345,
      61.14775862068967,
      61.125593220339,
      61.386551724137945,
      61.56644067796611,
      61.56644067796611,
      60.9993220338983,
      60.9993220338983,
      61.31999999999999,
      61.14050847457627,
      61.067288135593216,
      61.067288135593216,
      61.1393220338983,
      61.4364406779661,
      61.4506779661017,
      58.85694915254238,
      58.75288135593221,
      58.97149999999999,
      58.77737704918032,
      58.98868852459015,
      59.01131147540982,
      58.90483870967741,
      59.297419354838695,
      59.74096774193547,
      59.37835820895522,
      59.70467741935484,
      59.99709677419355,
      60.07967741935484,
      60.14596774193549,
      60.34,
      60.35935483870968,
      60.42327868852458,
      60.45147540983605,
      60.44616666666665,
      60.48233333333332,
      60.827333333333314,
      60.760666666666644,
      60.76305084745761,
      60.78149999999998,
      60.62916666666665,
      60.8925,
      52.213833333333355,
      8.922166666666666,
      8.928833333333332,
      8.8925,
      None,
      None,
      None,
      8.60655737704918,
      8.547049180327871,
      8.534918032786887,
      8.528688524590164,
      None,
      None,
      8.36049180327869,
      8.339016393442623,
      8.308852459016395,
      None,
      8.192881355932203,
      None,
      None,
      None,
      8.14962962962963,
      None,
      None,
      None,
      None,
      7.974035087719298,
      None,
      None,
      7.859298245614035],
     'environmentScore': [60.875,
      61.017857142857146,
      61.017857142857146,
      61.017857142857146,
      61.67857142857143,
      61.67857142857143,
      61.44642857142857,
      61.589285714285715,
      61.464285714285715,
      61.625,
      61.57142857142857,
      61.67857142857143,
      61.732142857142854,
      61.85964912280702,
      61.89473684210526,
      61.672413793103445,
      61.78379310344829,
      61.597758620689675,
      61.954482758620706,
      62.016896551724145,
      61.968793103448284,
      61.90258620689656,
      61.60379310344828,
      61.60379310344828,
      61.50203389830509,
      61.402068965517245,
      61.507118644067795,
      61.45796610169492,
      61.566101694915254,
      61.566101694915254,
      61.6106779661017,
      61.6377966101695,
      62.58389830508476,
      62.58050847457628,
      62.64152542372882,
      62.86644067796612,
      62.88677966101696,
      63.36644067796609,
      63.36644067796609,
      63.83366666666666,
      63.80655737704917,
      63.916065573770474,
      63.96524590163933,
      63.916612903225804,
      64.33709677419355,
      64.54951612903226,
      63.875671641791044,
      64.49596774193549,
      64.59919354838709,
      65.06693548387096,
      65.075,
      65.41806451612902,
      65.40838709677419,
      65.77737704918033,
      65.82311475409837,
      65.66183333333335,
      65.66183333333335,
      66.21233333333333,
      66.20566666666667,
      66.29525423728815,
      66.26866666666668,
      66.217,
      66.84150000000001,
      53.52766666666666,
      2.578666666666666,
      2.5774999999999992,
      2.571499999999999,
      None,
      None,
      None,
      2.515409836065573,
      2.514426229508196,
      2.5008196721311466,
      2.4955737704918026,
      None,
      None,
      2.483442622950819,
      2.4775409836065565,
      2.4749180327868845,
      None,
      2.4359322033898305,
      None,
      None,
      None,
      2.347962962962963,
      None,
      None,
      None,
      None,
      2.282456140350877,
      None,
      None,
      2.2264912280701754],
     'socialScore': [54.410714285714285,
      54.517857142857146,
      54.517857142857146,
      54.464285714285715,
      55.32142857142857,
      55.32142857142857,
      55.035714285714285,
      55.017857142857146,
      54.535714285714285,
      54.25,
      54.25,
      54.267857142857146,
      54.285714285714285,
      54.8421052631579,
      55.01754385964912,
      55.03448275862069,
      55.111206896551735,
      55.42362068965518,
      55.55758620689657,
      52.777068965517245,
      52.755,
      52.62844827586208,
      52.705000000000005,
      52.530344827586205,
      52.36728813559322,
      52.73448275862068,
      52.51796610169491,
      52.3893220338983,
      52.941864406779665,
      52.868305084745764,
      52.78610169491525,
      52.66491525423728,
      53.06271186440678,
      52.93728813559322,
      52.9857627118644,
      53.33186440677965,
      53.54322033898305,
      53.705254237288145,
      53.705254237288145,
      53.80066666666668,
      53.8704918032787,
      53.80311475409837,
      53.643934426229514,
      53.415,
      53.91129032258064,
      53.792741935483875,
      53.857462686567175,
      53.91919354838709,
      53.922903225806444,
      53.86354838709677,
      54.00516129032257,
      53.62338709677418,
      53.61838709677418,
      53.675081967213096,
      53.531475409836055,
      53.43366666666667,
      53.45816666666667,
      53.98350000000001,
      53.867166666666655,
      54.05050847457626,
      53.743666666666655,
      53.17433333333331,
      53.51866666666664,
      47.243666666666655,
      13.8175,
      13.559500000000003,
      13.601166666666668,
      None,
      None,
      None,
      13.033770491803278,
      12.856721311475411,
      12.810819672131146,
      12.797704918032785,
      None,
      None,
      12.666065573770489,
      12.460327868852456,
      12.442622950819668,
      None,
      12.27237288135593,
      None,
      None,
      None,
      11.981481481481481,
      None,
      None,
      None,
      None,
      12.069473684210523,
      None,
      None,
      12.078596491228067]}}],
  'error': None}}

In [35]:
# extract and format data (including the timestamp column)
try:
    peer_group = data["esgChart"]["result"][0]["peerGroup"]
except:
    print("\tno sustainability data!")

peer_series = pd.DataFrame(data["esgChart"]["result"][0]["peerSeries"])
peer_series["timestamp"] = pd.to_datetime(peer_series["timestamp"], unit="s")
peer_series["ticker"] = ticker

symbol_series = pd.DataFrame(data["esgChart"]["result"][0]["symbolSeries"])
symbol_series["timestamp"] = pd.to_datetime(symbol_series["timestamp"], unit="s")
symbol_series["ticker"] = ticker

In [36]:
peer_series

,timestamp,esgScore,governanceScore,environmentScore,socialScore,ticker
0,2014-09-01,58.267857,61.821429,60.875000,54.410714,ANTM
1,2014-10-01,58.375000,61.875000,61.017857,54.517857,ANTM
2,2014-11-01,58.357143,61.839286,61.017857,54.517857,ANTM
3,2014-12-01,58.321429,61.839286,61.017857,54.464286,ANTM
4,2015-01-01,58.875000,61.803571,61.678571,55.321429,ANTM
...,...,...,...,...,...,...
88,2022-01-01,NaN,NaN,NaN,NaN,ANTM
89,2022-02-01,22.345690,7.974035,2.282456,12.069474,ANTM
90,2022-03-01,NaN,NaN,NaN,NaN,ANTM
91,2022-04-01,NaN,NaN,NaN,NaN,ANTM
92,2022-05-01,22.186379,7.859298,2.226491,12.078596,ANTM

## Scrape list of tickers' data

In [6]:
# define scraper and formatting function

list_peer_series = []
list_symbol_series = []
no_data = []

def get_esgdata(base_url, ticker):
    
    print("getting data for", ticker, "...")
    
    # open url and get json data
    url = base_url + ticker
    connection = request.urlopen(url)
    jsondata = connection.read()

    # decode json to Python objects
    data = json.loads(jsondata)
    
    # extract and format data (including the timestamp column)
    try:
        peer_group = data["esgChart"]["result"][0]["peerGroup"]
    except:
        print("\tno sustainability data!")
        no_data.append(ticker)
        return

    peer_series = pd.DataFrame(data["esgChart"]["result"][0]["peerSeries"])
    peer_series["ticker"] = ticker
    peer_series["peer_group"] = peer_group
    list_peer_series.append(peer_series)

    symbol_series = pd.DataFrame(data["esgChart"]["result"][0]["symbolSeries"])
    symbol_series["ticker"] = ticker
    symbol_series["peer_group"] = peer_group
    list_symbol_series.append(symbol_series)
    
    print("data for", ticker, "retrieved")

    return

In [7]:
# get data for each url in list of urls

portfolio = pd.read_csv("tickers.csv")
tickers = portfolio[portfolio.type == "Equity"].ticker.tolist()
tickers.append("ANTM")
tickers.append("RMS.PA")
tickers.append("PEP")
base_url = "https://query2.finance.yahoo.com/v1/finance/esgChart?symbol="

for ticker in tickers:
    get_esgdata(base_url, ticker)
    
print("\ndata extraction complete!")
    
peer_data = pd.concat(list_peer_series)
symbol_data = pd.concat(list_symbol_series)

peer_data["timestamp"] = pd.to_datetime(peer_data["timestamp"], unit="s")
symbol_data["timestamp"] = pd.to_datetime(symbol_data["timestamp"], unit="s")

getting data for TGT ...
data for TGT retrieved
getting data for PEP ...
data for PEP retrieved
getting data for NOVN ...
	no sustainability data!
getting data for AMT ...
data for AMT retrieved
getting data for SVT ...
	no sustainability data!
getting data for UNH ...
data for UNH retrieved
getting data for VZ ...
data for VZ retrieved
getting data for ELV ...
data for ELV retrieved
getting data for ANTM ...
data for ANTM retrieved
getting data for RMS.PA ...
data for RMS.PA retrieved
getting data for PEP ...
data for PEP retrieved

data extraction complete!

In [8]:
peer_data = peer_data.reset_index(drop=True)
symbol_data = symbol_data.reset_index(drop=True)

In [9]:
peer_data

,timestamp,esgScore,governanceScore,environmentScore,socialScore,ticker,peer_group
0,2014-09-01,57.272727,64.236364,51.345455,58.036364,TGT,Retailing
1,2014-10-01,57.357143,64.285714,51.446429,58.125000,TGT,Retailing
2,2014-11-01,57.357143,64.285714,51.446429,58.107143,TGT,Retailing
3,2014-12-01,57.267857,64.285714,51.285714,58.125000,TGT,Retailing
4,2015-01-01,57.250000,64.410714,51.196429,58.000000,TGT,Retailing
...,...,...,...,...,...,...,...
761,2022-04-01,NaN,NaN,NaN,NaN,PEP,Food Products
762,2022-05-01,28.063696,6.393933,10.497079,10.959663,PEP,Food Products
763,2022-06-01,NaN,NaN,NaN,NaN,PEP,Food Products
764,2022-07-01,NaN,NaN,NaN,NaN,PEP,Food Products
765,2022-08-01,27.763636,6.332841,10.513977,10.916023,PEP,Food Products

In [10]:
symbol_data

,timestamp,esgScore,governanceScore,environmentScore,socialScore,ticker,peer_group
0,2014-09-01,66.00,74.00,60.00,66.00,TGT,Retailing
1,2014-10-01,66.00,74.00,60.00,66.00,TGT,Retailing
2,2014-11-01,66.00,74.00,60.00,66.00,TGT,Retailing
3,2014-12-01,66.00,74.00,60.00,66.00,TGT,Retailing
4,2015-01-01,66.00,74.00,60.00,66.00,TGT,Retailing
...,...,...,...,...,...,...,...
761,2022-04-01,NaN,NaN,NaN,NaN,PEP,Food Products
762,2022-05-01,16.01,4.55,4.91,6.55,PEP,Food Products
763,2022-06-01,NaN,NaN,NaN,NaN,PEP,Food Products
764,2022-07-01,NaN,NaN,NaN,NaN,PEP,Food Products
765,2022-08-01,15.94,4.48,4.91,6.55,PEP,Food Products

In [11]:
# write to csv
peer_data.to_csv("peer_data.csv", index=False)
symbol_data.to_csv("symbol_data.csv", index=False)